/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0em) {
    :root {
      --primary:#ffba19;
      --primaryLight:#ffd675;
      --secondary:#001f3f;
      --secondaryLight:#001f3f;
      --headerColor:#1a1a1a;
      --bodyTextColor:#4e4b66;
      --bodyTextColorWhite:#fafbfc;
  
      /* 13px - 16px */
      --topperFontSize:clamp(0.8125rem, 1.6vw, 1rem);
  
      /* 31px - 49px */
      --headerFontSize:clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize:1rem;
  
      /* 60px - 100px top and bottom */
      --sectionPadding:clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }
  
    .cs-topper {
      display: block;
      margin-bottom: 0.25rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      font-weight: 700;
      color: var(--primary);
      text-align: inherit;
    }
  
    .cs-title {
      position: relative;
      margin: 0 0 1rem 0;
      max-width: 43.75rem;
      font-size: var(--headerFontSize);
      line-height: 1.2em;
      font-weight: 900;
      color: var(--headerColor);
      text-align: inherit;
    }
  
    .cs-text {
      margin: 0;
      max-width: 40.625rem;
      width: 100%;
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      color: var(--bodyTextColor);
      text-align: inherit;
    }
  
    .cs-button-solid {
      z-index: 1;
      position: relative;
      display: inline-block;
      background-color: var(--primary);
      width: auto;
      padding: 0 1.875rem;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 3.125em;
      font-weight: bold;
      color: #000;
      transition: color 0.3s;
      transition-delay: 0.1s;
      text-align: center;
  
      &:hover {
        color: #fff;
  
        &:before {
          width: 100%;
        }
      }
  
      &:before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        opacity: 1;
        display: block;
        background-color: #000;
        height: 100%;
        width: 0;
        transition: width 0.3s;
      }
    }
  }
  
  /* Fonts and general styles */
  @media only screen and (min-width: 0em) {
    body, html {
      margin: 0;
      overflow-x: hidden;
      padding: 0;
      font-family: "Roboto", Arial, sans-serif;
      font-size: 100%;
      color: var(--bodyTextColor);
    }
  
    * {
      margin: 0;
      box-sizing: border-box;
      padding: 0;
  
      &:before, &:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
      }
    }
  
    body {
      transition: background-color 0.3s;
    }
  
    .container {
      position: relative;
      margin: auto;
      width: 92%;
    }
  
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      color: var(--headerColor);
    }
  
    p, li, a {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5em;
    }
  
    p, li {
      color: #353535;
    }
  
    a:hover, button:hover {
      cursor: pointer;
    }
  
    .skip {
      z-index: -1111111;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  
    /* roboto-regular - latin */
    @font-face {
      font-style: normal;
      font-family: "Roboto";
      font-weight: 400;
      font-display: swap;
      src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"), url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff");
  
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
  
    /* roboto-700 - latin */
    @font-face {
      font-style: normal;
      font-family: "Roboto";
      font-weight: 700;
      font-display: swap;
      src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"), url("/assets/fonts/roboto-v29-latin-700.woff") format("woff");
  
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
  
    /* roboto-900 - latin */
    @font-face {
      font-style: normal;
      font-family: "Roboto";
      font-weight: 900;
      font-display: swap;
      src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"), url("/assets/fonts/roboto-v29-latin-900.woff") format("woff");
  
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
  }
  
  /* Reset Margins */
  @media only screen and (min-width: 1024px) {
    body, html {
      margin: 0;
      padding: 0;
    }
  }
  
  /* Scale full website with the viewport width */
  @media only screen and (min-width: 3000px) {
    body, html {
      font-size: 0.55vw;
    }
  }
  
  /*-- -------------------------- -->
  <---      Dark Mode Toggle      -->
  <--- -------------------------- -*/
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #dark-mode-toggle {
      .cs-sun {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
  
      .cs-moon {
        opacity: 0;
        transform: translate(-50%, -150%);
        fill: #fff;
      }
    }
  
    #dark-mode-toggle {
      width: 3rem;
      height: 3rem;
      padding: 0;
      background: transparent;
      border: none;
      display: block;
      position: absolute;
      top: 0.625rem;
      right: 4.375rem;
      z-index: 1000;
      overflow: hidden;
  
      img, svg {
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
  
      .cs-moon {
        z-index: 2;
        transition: transform 0.3s, opacity 0.3s;
      }
  
      .cs-sun {
        opacity: 0;
        z-index: 1;
        transform: translate(-50%, 100%);
        transition: transform 0.3s, opacity 0.3s;
      }
    }
  }
  
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #dark-mode-toggle {
      margin: 0;
      position: relative;
      top: auto;
      right: auto;
      transform: none;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  /*-- -------------------------- -->
  <---     Mobile Navigation      -->
  <--- -------------------------- -*/
  /* Mobile - 1023px */
  @media only screen and (max-width: 63.9375rem) {
    body.cs-open {
      overflow: hidden;
    }
  
    #cs-navigation {
      width: 100%;
  
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0.75rem 1rem;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: fixed;
      z-index: 10000;
  
      &:before {
        content: "";
        width: 100%;
        height: 0vh;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: -1100;
        transition: height 0.5s, opacity 0.5s;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
      }
  
      &.cs-active {
        &:before {
          height: 150vh;
          opacity: 1;
        }
  
        .cs-ul-wrapper {
          opacity: 1;
          transform: scaleY(1);
          transition-delay: 0.15s;
        }
  
        .cs-li {
          opacity: 1;
          transform: translateY(0);
        }
      }
  
      .cs-li-link.cs-active {
        border-bottom: 2px solid yellow;
      }
  
      .cs-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
  
      .cs-logo {
        width: 40%;
        max-width: 9.125rem;
        height: 100%;
        margin: 0 auto 0 0;
  
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
  
        img {
          width: 100%;
          height: 100%;
  
          /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
          object-fit: contain;
        }
      }

      .cs-cart-icon {
        color: var(--bodyTextColorWhite)
      }
  
      .cs-toggle {
        /* 44px - 48px */
        width: clamp(2.75rem, 6vw, 3rem);
        height: clamp(2.75rem, 6vw, 3rem);
        margin: 0 0 0 auto;
        background-color: transparent;
        border: none;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .cs-active {
        .cs-line1 {
          top: 50%;
          transform: translate(-50%, -50%) rotate(225deg);
        }
  
        .cs-line2 {
          top: 50%;
          transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
          transform-origin: center;
        }
  
        .cs-line3 {
          opacity: 0;
          bottom: 100%;
        }
      }
  
      .cs-box {
        /* 24px - 28px */
        width: clamp(1.5rem, 2vw, 1.75rem);
  
        /* 14px - 16px */
        height: clamp(0.875rem, 1.5vw, 1rem);
        position: relative;
      }
  
      .cs-line {
        width: 100%;
        height: 2px;
        background-color: #1a1a1a;
        border-radius: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
  
      .cs-line1 {
        top: 0;
        transition: transform 0.5s, top 0.3s, left 0.3s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-direction: normal;
        animation-fill-mode: forwards;
        transform-origin: center;
      }
  
      .cs-line2 {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: top 0.3s, left 0.3s, transform 0.5s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-direction: normal;
        animation-fill-mode: forwards;
      }
  
      .cs-line3 {
        bottom: 0;
        transition: bottom 0.3s, opacity 0.3s;
      }
  
      .cs-ul-wrapper {
        width: 100%;
        height: auto;
        padding-bottom: 2.4em;
        background-color: #fff;
        box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        overflow: hidden;
        transform: scaleY(0);
        transition: transform 0.4s, opacity 0.3s;
        transform-origin: top;
      }
  
      .cs-ul {
        width: 100%;
        height: auto;
        max-height: 65vh;
        margin: 0;
        padding: 3rem 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
        overflow: scroll;
      }
  
      .cs-li {
        text-align: center;
        list-style: none;
        width: 100%;
        margin-right: 0;
        opacity: 0;
  
        /* transition from these values */
        transform: translateY(-4.375rem);
        transition: transform 0.6s, opacity 0.9s;
  
        &:nth-of-type(1) {
          transition-delay: 0.05s;
        }
  
        &:nth-of-type(2) {
          transition-delay: 0.1s;
        }
  
        &:nth-of-type(3) {
          transition-delay: 0.15s;
        }
  
        &:nth-of-type(4) {
          transition-delay: 0.2s;
        }
  
        &:nth-of-type(5) {
          transition-delay: 0.25s;
        }
  
        &:nth-of-type(6) {
          transition-delay: 0.3s;
        }
  
        &:nth-of-type(7) {
          transition-delay: 0.35s;
        }
  
        &:nth-of-type(8) {
          transition-delay: 0.4s;
        }
  
        &:nth-of-type(9) {
          transition-delay: 0.45s;
        }
  
        &:nth-of-type(10) {
          transition-delay: 0.5s;
        }
  
        &:nth-of-type(11) {
          transition-delay: 0.55s;
        }
  
        &:nth-of-type(12) {
          transition-delay: 0.6s;
        }
  
        &:nth-of-type(13) {
          transition-delay: 0.65s;
        }
      }
  
      .cs-li-link {
        /* 16px - 24px */
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        line-height: 1.2em;
        text-decoration: none;
        margin: 0;
        color: var(--headerColor);
        display: inline-block;
        position: relative;
  
        &:before {
          /* active state underline */
          content: "";
          width: 100%;
          height: 1px;
          background: currentColor;
          opacity: 1;
          display: none;
          position: absolute;
          bottom: -0.125rem;
          left: 0;
        }
  
        &.cs-active:before {
          display: block;
        }
      }
  
      .cs-button-solid {
        display: none;
      }
    }
  }
  
  /* Dark Mode */
  @media only screen and (max-width: 63.9375rem) {
    body.dark-mode #cs-navigation {
      background-color: var(--dark);
  
      .cs-logo {
        /* makes it white */
        filter: grayscale(1) brightness(1000%);
      }
  
      .cs-line {
        background-color: #fff;
      }
  
      .cs-ul-wrapper {
        background-color: var(--medium);
      }
  
      .cs-li-link {
        color: var(--bodyTextColorWhite);
      }
    }
  }
  
  /*-- -------------------------- -->
  <---     Desktop Navigation     -->
  <--- -------------------------- -*/
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #cs-navigation {
      width: 100%;
  
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0 1rem;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: fixed;
      z-index: 10000;
  
      .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
      }
  
      .cs-toggle {
        display: none;
      }
  
      .cs-logo {
        width: 18.4%;
        max-width: 21.875rem;
        height: 4.0625rem;
  
        /* margin-right auto pushes everything away from it to the right */
        margin: 0 auto 0 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
  
        img {
          width: 100%;
          height: 100%;
  
          /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
          object-fit: contain;
        }
      }
  
      .cs-ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
  
        /* 20px - 36px */
        gap: clamp(1.25rem, 2.6vw, 2.25rem);
      }
  
      .cs-li {
        list-style: none;
        padding: 2rem 0;
  
        /* prevent flexbox from squishing it */
        flex: none;
      }
  
      .cs-li-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--bodyTextColor);
        display: block;
        position: relative;
  
        &:hover:before, &.cs-active:before {
          width: 100%;
        }
  
        &:before {
          /* active state underline */
          content: "";
          width: 0%;
          height: 2px;
          background: var(--primary);
          opacity: 1;
          display: block;
          position: absolute;
          bottom: 0rem;
          left: 0;
          transition: width 0.3s;
        }
      }
  
      .cs-button-solid {
        font-size: 1rem;
        font-weight: 700;
  
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-align: center;
        text-decoration: none;
        min-width: 9.375rem;
        margin: 0;
  
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 1.5rem;
        color: #fff;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
  
        &:before {
          content: "";
          width: 0%;
          height: 100%;
          background: #000;
          opacity: 1;
          border-radius: 0.25rem;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }
  
        &:hover:before {
          width: 100%;
        }
      }
    }
  }
  
  /* Dark Mode */
  @media only screen and (min-width: 64rem) {
    body.dark-mode #cs-navigation {
      background-color: var(--dark);
  
      .cs-logo {
        /* makes it turn white */
        filter: grayscale(1) brightness(1000%);
      }
  
      .cs-li-link {
        color: var(--bodyTextColorWhite);
  
        &:before {
          background-color: var(--primaryLight);
        }
      }
    }
  }
  
  /*-- -------------------------- -->
  <---   Interior Page Header     -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #int-hero {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 30vh;
      padding-top: 3.125rem;
  
      picture {
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
  
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
  
      h1 {
        position: relative;
        margin: 0 auto;
        margin-top: 4.375rem;
        margin-bottom: 1.875rem;
        max-width: 31.25rem;
        width: 96%;
        font-size: 2.1333333333rem;
        color: #fff;
        text-align: center;
      }
  
      p {
        display: block;
        margin: auto;
        margin-bottom: 1.875rem;
        max-width: 25rem;
        width: 96%;
        color: #fff;
        text-align: center;
      }
  
      &:before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        opacity: 0.7;
        display: block;
        background: #000;
        height: 100%;
        width: 100%;
      }
    }
  }
  
  /* Tablet */
  @media only screen and (min-width: 48em) {
    #int-hero {
      font-size: 100%;
  
      h1 {
        font-size: 4rem;
      }
    }
  }
  
  /* Small Desktop */
  @media only screen and (min-width: 64em) {
    #int-hero {
      background-attachment: fixed;
      min-height: 18.75rem;
      height: auto;
      padding-top: 11.25rem;
      font-size: inherit;
      padding-block-end: 6.25rem;
    }
  }
  
  /*-- -------------------------- -->
  <---    Final Call To Action    -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #cta {
      position: relative;
      padding: 3.125rem 0;
  
      .container {
        text-align: center;
      }
  
      picture {
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
  
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
  
      .title {
        position: relative;
        margin-bottom: 2.25rem;
        font-size: min(9vw, 3rem);
        line-height: 1.2083333333em;
        font-weight: 900;
        color: #fff;
        text-align: center;
      }
  
      p {
        opacity: 1;
        margin: auto;
        margin-bottom: 2.25rem;
        max-width: 37.375rem;
        width: 96%;
        color: #fff;
        text-align: center;
      }
  
      &:before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        opacity: 0.7;
        display: block;
        background: #000;
        height: 100%;
        width: 100%;
      }
    }
  }
  
  /* Small Desktop */
  @media only screen and (min-width: 64em) {
    #cta {
      padding: 10.5rem 0;
    }
  }
  
  /* Large Desktop */
  @media only screen and (min-width: 1300px) {
    #cta {
      position: relative;
      margin-top: 6.25rem;
  
      .container {
        margin: auto;
        width: 90.0625%;
      }
  
      picture {
        left: 50%;
        transform: translateX(-50%);
        width: 90.0625%;
  
        &:before {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          opacity: 0.7;
          display: block;
          background: #000;
          height: 100%;
          width: 100%;
        }
      }
  
      &:before {
        display: none;
      }
  
      &:after {
        z-index: -3;
        position: absolute;
        bottom: 0;
        left: 50%;
        content: "";
        opacity: 1;
        transform: translateX(-50%);
        display: block;
        background: url("/assets/svgs/cta-squares.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 69.25rem;
        width: 125rem;
      }
    }
  }
  
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #cta:after {
      display: none;
    }
  }
  
  /*-- -------------------------- -->
  <---           Footer           -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    #footer {
      background: #1c1c1c;
      padding: 5.25rem 0 1.25rem;
      font-size: min(4vw, 1.2em);
  
      .left-section {
        margin: auto;
        margin-bottom: 3.125rem;
        text-align: center;
  
        .logo {
          display: inline-block;
          margin: auto;
          margin-bottom: 1.875em;
          height: 2em;
          width: auto;
          text-align: center;
  
          img {
            display: block;
            height: 200%;
            width: auto;
          }
        }
  
        p {
          opacity: 0.9;
          margin: auto;
          width: 100%;
          width: 21.9285714286rem;
          font-size: 0.875rem;
          line-height: 1.9285714286rem;
          color: #fff;
          text-align: center;
        }
      }
  
      .right-section {
        margin: auto;
        max-width: 25.4375rem;
        width: 96%;
  
        .lists {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: auto;
          max-width: 19.1875rem;
          width: 96%;
  
          ul {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
  
            li {
              opacity: 0.9;
              margin-bottom: 0.75rem;
              list-style: none;
              font-size: 1.125rem;
              color: #fff;
  
              a {
                text-decoration: none;
                line-height: 1.1666666667em;
                color: #fff;
                transition: color 0.3s;
  
                &:hover {
                  color: var(--primary);
                }
              }
            }
  
            h2 {
              position: relative;
              margin-bottom: 2.3125rem;
              text-transform: uppercase;
              font-size: 1.125rem;
              line-height: 1.1666666667em;
              font-weight: bold;
              color: #fff;
  
              &:before {
                position: absolute;
                bottom: -1rem;
                left: 0;
                content: "";
                opacity: 1;
                display: block;
                background: var(--primary);
                height: 0.125rem;
                width: 6.0625rem;
              }
            }
  
            &:nth-of-type(3) {
              margin-top: 3.125rem;
  
              li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 1rem;
  
                &:last-of-type {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
  
        .buttons {
          display: flex;
          justify-content: center;
        }
  
        .cs-button-solid {
          margin: 0;
          height: 3.3125rem;
          width: 15.625rem;
          padding-top: 0.1875rem;
        }
      }
  
      .credit {
        margin: auto;
        margin-top: 6.25rem;
        width: 96%;
        font-size: 1rem;
        line-height: 2.25rem;
        color: #fff;
        text-align: center;
  
        a {
          text-decoration: none;
          font-size: 1rem;
          color: var(--primary);
  
          &:hover {
            text-decoration: underline;
          }
        }
  
        .copyright {
          display: block;
          font-size: 1rem;
        }
      }
    }
  }
  
  /* Small Desktop */
  @media only screen and (min-width: 64em) {
    #footer {
      font-size: min(1.2vw, 1em);
  
      .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: auto;
        max-width: 82.5rem;
        width: 96%;
        padding: 0;
      }
  
      .left-section {
        margin: 0;
        width: 25.5625rem;
        text-align: left;
  
        .logo {
          margin-left: 0;
          height: 2.5rem;
          text-align: left;
        }
  
        p {
          margin-left: 0;
          text-align: left;
        }
      }
  
      .right-section {
        margin: 0;
        max-width: none;
        width: 38.0625rem;
  
        .lists {
          margin: 0;
          max-width: 48.0625rem;
          max-width: initial;
          width: 96%;
  
          ul {
            li a {
              position: relative;
  
              &:before {
                position: absolute;
                bottom: -0.1875rem;
                left: 0;
                content: "";
                opacity: 1;
                display: block;
                background: var(--primary);
                height: 0.125rem;
                width: 0%;
                transition: width 0.3s;
              }
  
              &:hover:before {
                width: 100%;
              }
            }
  
            &:nth-of-type(3) {
              margin-top: 0;
  
              li:first-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
  
        .buttons {
          justify-content: flex-start;
        }
      }
  
      .credit .copyright {
        display: inline-block;
      }
    }
  }
  
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #footer {
      background: #061623;
    }
  }
  
  /*# sourceMappingURL=root.css.map */
  
  /*-- -------------------------- -->
  <---            Hero            -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #hero-856 {
      /* centers button */
      text-align: center;
  
      /* 116px - 164px top */
      /* 60px - 100px  bottom */
      padding: clamp(7.25rem, 16.82vw, 10.25rem) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
      background-color: #f7f7f7;
  
      /* clips the svg wave from overflowing */
      overflow: hidden;
      position: relative;
      z-index: 1;
  
      .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
      }
  
      .cs-content {
        max-width: 39.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
  
      .cs-topper {
        font-size: 1rem;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
      }
  
      .cs-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 5vw, 3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: center;
  
        /* 23 characters including spaces wide */
        max-width: 23ch;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
      }
  
      .cs-text {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        line-height: 1.5em;
        text-align: center;
        width: 100%;
        max-width: 33.1875rem;
  
        /* 28px - 40px */
        margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
        color: var(--bodyTextColor);
      }
  
      .cs-button-solid {
        font-size: 1rem;
  
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
  
        /* prevents padding from adding to the width */
        box-sizing: border-box;
  
        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 0%;
          background: #000;
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          border-radius: 0.25rem;
          transition: width 0.3s;
        }
  
        &:hover:before {
          width: 100%;
        }
      }
  
      .cs-picture {
        width: 100%;
        max-width: 35.625rem;
  
        /* 400px - 712px */
        height: clamp(25rem, 95vw, 44.5rem);
  
        /* 100px - 200px */
        border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
  
        /* clips the img tag corners */
        overflow: hidden;
        display: block;
        position: relative;
  
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
  
          /* makes image act as a background image */
          object-fit: cover;
  
          /* ensures the top of the images is at the top of the container, no heads getting cut off */
          object-position: top;
        }
      }
  
      .cs-wave {
        /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
        width: 320%;
        height: auto;
        display: block;
        position: absolute;
        left: 50%;
        bottom: -1px;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
  }
  
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #hero-856 {
      text-align: left;
  
      .cs-container {
        flex-direction: row;
        justify-content: space-between;
      }
  
      .cs-content {
        width: 40vw;
  
        /* prevents flex-box from squishing it */
        flex: none;
        align-items: flex-start;
  
        /* sends it to the right in the 2nd position */
        order: 2;
      }
  
      .cs-title, .cs-text {
        text-align: left;
      }
  
      .cs-picture {
        /* 623px - 814px */
        height: clamp(38.9375rem, 60vw, 50.875rem);
      }
  
      .cs-wave {
        width: 100%;
        left: 0;
  
        /* flips it horizontally */
        transform: scaleX(-1);
      }
    }
  }
  
  /*-- -------------------------- -->
  <---         Services           -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services-1121 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
  
      .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }
  
      .cs-card-group {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        /* changes to a clamp on tablet */
        gap: 2.5rem;
      }
  
      .cs-item {
        text-align: center;
        list-style: none;
        width: 100%;
        max-width: 25.8125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        /* 16px - 24px */
        gap: clamp(1rem, 3vw, 1.5rem);
      }
  
      .cs-image-group {
        /* 80px - 100px */
        width: clamp(5rem, 8vw, 6.25rem);
        height: clamp(5rem, 8vw, 6.25rem);
        display: flex;
        justify-content: center;
        align-items: center;
  
        /* prevents flexbox from squishing it */
        flex: none;
        position: relative;
        z-index: 1;
      }
  
      .cs-icon {
        /* 36px - 48px */
        width: clamp(2.25rem, 4vw, 3rem);
        height: auto;
      }
  
      .cs-graphic {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
  
      .cs-h2 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        text-align: inherit;
        margin: 0 0 0.75rem;
      }
  
      .cs-waves {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
  
        /* makes it act like a background image */
        object-fit: cover;
        position: absolute;
        z-index: -1;
      }
    }
  }
  
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-1121 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
  
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.25rem);
    }
  }
  
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #services-1121 .cs-item {
      text-align: left;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  /*-- -------------------------- -->
  <---          Pricing           -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #pricing-1518 {
      padding: var(--sectionPadding);
      position: relative;
      overflow: hidden;
      z-index: 1;
  
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: var(--secondary);
        opacity: .05;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
      }
  
      .cs-container {
        width: 100%;
  
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
      }
  
      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
  
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }
  
      .cs-title {
        margin: 0;
        max-width: 34ch;
      }
  
      .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        /* 16px - 20px */
        gap: clamp(1rem, 1.8vw, 1.25rem);
      }
  
      .cs-item {
        list-style: none;
        width: 100%;
        max-width: 28.875rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        transition: border-color 0.3s;
  
        &:hover {
          .cs-wrapper {
            border-color: var(--secondary);
          }
  
          .cs-mask {
            --maskBorder:var(--secondary);
          }
  
          .cs-button-solid {
            background-color: var(--secondary);
          }
        }
      }
  
      .cs-flex {
        text-align: center;
        margin-bottom: -2rem;
        padding: 3rem 2rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        z-index: 10;
      }
  
      .cs-desc {
        font-size: 1.25rem;
        text-align: inherit;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--bodyTextColor);
        display: block;
      }
  
      .cs-h3 {
        font-size: 1.9375rem;
        text-align: inherit;
        line-height: 1.2em;
        font-weight: 900;
        margin: 0;
        color: var(--headerColor);
        display: block;
      }
  
      .cs-mask {
        --maskBG:#fff;
        --maskBorder:#e8e8e8;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
  
        path {
          transition: stroke .3s;
        }
      }
  
      .cs-wrapper {
        height: 100%;
  
        /* 24px - 40px left & right */
        /* 24px - 32px bottom */
        padding: 2.5rem clamp(1.5rem, 3.5vw, 2.5rem) clamp(1.5rem, 3vw, 2rem);
        box-sizing: border-box;
        background-color: #fff;
        overflow: hidden;
        border-radius: 2rem;
        border: 1px solid #e8e8e8;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        transition: border-color 0.3s;
      }
  
      .cs-ul {
        /* 24px - 40px */
        padding: 0 0 clamp(1.5rem, 3vw, 2.5rem) 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
        /* 8px - 12px */
        gap: clamp(0.5rem, 1.5vw, 0.75rem);
        position: relative;
      }
  
      .cs-li {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        list-style: none;
        line-height: 1.5em;
        width: 100%;
        margin: 0;
        padding: 0;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: space-between;
  
        /* push everything to the top so if the li goes to two lines the icon stays at the top */
        align-items: flex-start;
        gap: 1rem;
  
        &.cs-disabled {
          opacity: .5;
  
          .cs-icon {
            filter: grayscale(1) brightness(300%);
          }
        }
      }
  
      .cs-icon {
        width: 1.5rem;
        height: auto;
        display: block;
      }
  
      .cs-info {
        margin-top: auto;
  
        /* 16px - 24px */
        padding-top: clamp(1rem, 2vw, 1.5rem);
        box-sizing: border-box;
        border-top: 1px solid #E8E8E8;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;
      }
  
      .cs-price {
        /* 31px - 39px */
        font-size: clamp(1.9375rem, 4vw, 2.4375rem);
        line-height: 1.2em;
        font-weight: 900;
        margin: 0;
        color: #767676;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
      }
  
      .cs-duration {
        font-size: 1.25rem;
        display: block;
        transform: translateY(0.14rem);
      }
  
      .cs-button-solid {
        font-size: 1rem;
  
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        padding: 0 2rem;
        border-radius: 3.125rem;
        background-color: var(--primary);
        overflow: hidden;
        display: inline-block;
        position: relative;
        z-index: 1;
  
        /* prevents padding from adding to the width */
        box-sizing: border-box;
  
        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 0%;
          background: #000;
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width .3s;
        }
  
        &:hover:before {
          width: 100%;
        }
      }
  
      .cs-blob {
        opacity: .1;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
      }
  
      .cs-button-solid {
        width: 100%;
        transition: background-color 0.3s;
      }
  
      .cs-background {
        --backgroundBG:#fff;
        width: 100%;
        min-width: 120rem;
        height: auto;
        position: absolute;
        left: 0;
      }
  
      .cs-background-top {
        top: 0;
      }
  
      .cs-background-bottom {
        bottom: 0;
        transform: rotateX(180deg);
      }
    }
  }
  
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #pricing-1518 {
      .cs-container {
        max-width: 80rem;
      }
  
      .cs-card-group {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: nowrap;
      }
    }
  }
  
  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #pricing-1518 .cs-info {
      flex-direction: row;
    }
  }
  